<div class="relative flex items-center justify-center h-auto bg-cover bg-center py-8" style="background: rgb(210, 241, 238);">
    <div class="flex flex-col lg:flex-row gap-8 max-w-8xl w-full mx-4 lg:mx-8 p-4 lg:p-16 rounded-lg shadow-lg bg-white">
         
        <div class="font-sans mb-8 lg:mb-0 lg:mr-64 lg:w-1/3">
            <img
                class="w-24 cursor-pointer mb-4"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr6c7fFevyEoR4DEBzz1i8nMPsKxw-zaWtfw&s"
                alt="Logo"
            />
            <p class="flex text-gray-500">Location:<span class="text-gray-400 ml-1">Isr Street glirt awam juim</span></p>
            <p class="flex text-gray-500">Contact:<span class="text-gray-400 ml-1">+9 5555559909</span></p>
            <p class="flex text-gray-500">Time:<span class="text-gray-400 ml-1">(9am-5pm EST, Monday - Friday)</span></p>
            <p class="flex text-gray-500">Email:<span class="text-gray-400 ml-1">youme&#64;Rule.com</span></p>
        </div>
         
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:flex lg:gap-32 w-full lg:w-2/3 text-gray-400 font-sans"> 
            <div class="mb-8 lg:mb-0">
                <h1 class="text-2xl font-semibold text-gray-800 mb-4">Company</h1>
                <p class="hover:text-gray-600 cursor-pointer">Case Studies</p>
                <p class="hover:text-gray-600 cursor-pointer">Case Details</p>
                <p class="hover:text-gray-600 cursor-pointer">Privacy Policy</p>
                <p class="hover:text-gray-600 cursor-pointer">Services</p>
            </div>
             
            <div class="mb-8 lg:mb-0">
                <h1 class="text-2xl font-semibold text-gray-800 mb-4">Explore</h1>
                <p class="hover:text-gray-600 cursor-pointer">About Us</p>
                <p class="hover:text-gray-600 cursor-pointer">Blog and News</p>
                <p class="hover:text-gray-600 cursor-pointer">Blog Details</p>
                <p class="hover:text-gray-600 cursor-pointer">Pricing</p>
            </div>
             
            <div>
                <h1 class="text-2xl font-semibold text-gray-800 mb-4">Insurance</h1>
                <p class="hover:text-gray-600 cursor-pointer">Health Insurance</p>
                <p class="hover:text-gray-600 cursor-pointer">Car Insurance</p>
                <p class="hover:text-gray-600 cursor-pointer">Business Insurance</p>
                <p class="hover:text-gray-600 cursor-pointer">Life Insurance</p>
            </div>
        </div>
    </div>
</div>
