<!-- Wrapper Div -->
<div class="relative flex items-center justify-center h-auto bg-cover bg-center py-0 px-3" style="background: rgb(210, 241, 238);">
  <div class="flex w-full max-w-8xl m-5">
    <!-- Left Content -->
    <div class="bg-white p-10 rounded shadow-lg flex-1 pt-36">
      <h1 class="text-5xl font-bold">
        Take The Worry Out Of <br>
        Life With <span style="color: #008080;">Insurance</span> <br>
        Protection
      </h1>
      <br>
      <p style="color: rgb(126, 126, 126); font-size: 1.5rem;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit non accusamus, dolores molestias ipsa at debitis! Nemo necessitatibus, perspiciatis velit, consectetur sequi architecto, quam hic harum unde sed quasi!
      </p>
      <br>
      <div class="relative flex items-center justify-center gap-7">
        <button class="bg-teal-500 text-white px-4 py-2 rounded"> ➔ Get Started</button>
        <button class="bg-white text-teal-500 border border-teal-500 px-4 py-2 rounded">
          📩 Contact Us
        </button>
      </div>
    </div>
    <!-- Right Image -->
    <div class="bg-white rounded shadow-lg hidden md:block flex-1">
      <img src="../../assets/hero.png" alt="" class="w-full h-auto">
    </div>
  </div>
</div>