<div class="relative flex items-center justify-center h-auto bg-cover bg-center py-8" style="background: rgb(210, 241, 238);">

    <div class="bg-white max-w-8xl w-full mx-4 lg:mx-8 p-4 lg:p-16 rounded-lg shadow-lg">
        
        <div class="text-center mb-8">
            <h2 class="text-teal-600 font-sans font-semibold text-lg">READY TO GET STARTED</h2>
            <h1 class="text-2xl lg:text-4xl font-bold text-gray-800">Get The Latest Insurance News In</h1>
            <h1 class="text-2xl lg:text-4xl font-bold text-gray-800">Minutes </h1>
        </div>



        <div class="flex justify-center">
            <div class="items-center text-gray-400 mt-4 max-w-2xl text-center px-4">
                <p class="text-sm sm:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat corrupti eligendi vitae commodi eum. Tempora laboriosam dolorum, veritatis cum atque dolore
            </div>
        </div>

        
         <div class="flex justify-center mt-10">
            <input type="text" placeholder="Email address" class="border rounded-l-md px-4 py-2 w-60 lg:w-80 focus:outline-none" style="background-color: #e0e2e3;">
            <button class="bg-teal-600 text-white rounded-r-md px-6 py-2 font-semibold hover:bg-teal-700 transition duration-300">
                🚀 Subscribe
            </button>
        </div>

    </div>

</div>